  
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="image_src" href="images/vista-previa.png"/> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/initializer.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <title>FloodAPPs</title>
</head>

<body>
    <div class="content" id="content">
        <nav class="menu">
            <div class="menu-list">
                <a href="#" @click="selectIndex" :class="{selected: index}">Inicio</a>
                <a href="pages/prueba.html">Prueba</a>
                <a href="#">Acerca De</a>
                <a href="#" @click="selectContacto" :class="{selected: contacto}">Contacto</a>
            </div>
            <div class="menu-exit" v-if="menuExpand" @click="expandMenu" @mouse="expandMenu"></div>
            <div class="menu-contraid" @click="expandMenu">
                <span class="material-icons expandir">{{flechaMenu}}</span>
            </div>
            <transition name="menu">
                <div class="menu-expand" v-if="menuExpand">
                    <a href="#" @click="selectIndex" :class="{selected: index}">Inicio</a>
                    <a href="pages/prueba.html">Prueba</a>
                    <a href="#">Acerca De</a>
                    <a href="#" @click="selectContacto" :class="{selected: contacto}">Contacto</a>
                </div>
            </transition>
        </nav>

        <transition name="titulo">
            <div class="titulo" v-if="index"><h1>FloodApps</h1></div>
        </transition>
        <transition name="contacto">
            <div class="contacto" v-if="contacto">
                <form>
                    <div>
                        <input type="text" v-model.trim="nombre"
                        @blur="verifyName" @input="resetErrorName"
                        id="nombre" name="nombre" 
                        :class="{inputError: nameError, inputValid: nameValid}" placeholder="Nombre">
                        <p class="pError" v-if="nameError">{{errorNombre}}</p>
                    </div>
                    <div class="space"></div>
                    <div>
                        <input type="text" v-model.trim="email"
                        id="email" name="email"
                        @input="resetErrorEmail" @blur="verifyEmail"
                        :class="{inputError: emailError, inputValid: emailValid}" placeholder="Email">
                        <p class="pError" v-if="emailError">{{errorEmail}}</p>
                    </div>
                    <div class="space"></div>
                    <div>
                        <textarea v-model="mensaje" 
                        id="mensaje" name="mensaje"
                        @blur="verifyMensaje" @click="resetErrorMensaje"
                        :class="{inputError: mensajeError, inputValid: mensajeValid}" placeholder="Escriba su mensaje"></textarea>
                        <p class="contador">{{mensaje.length}}</p>
                        <p class="pError pErrorTextarea" v-if="mensajeError">{{errorMensaje}}</p>

                    </div>
                    <button @click="enviarFormulario" type="button">Enviar</button>
                </form>
            </div>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
</body>


</html>