.header{
    margin: 0;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-color: aliceblue;
    background-size: cover;
    min-height: 700px;
}

.titulo{
    background: rgba(0, 0, 0, 0.4);
    height: 200px;
    line-height: 200px; 
    margin-top: 225px;
    text-align: center;
}

.header h1{
    color: rgba(248, 248, 248, 0.9);
    font-size: 7em;
}

.menu{
    background: rgba(0, 0, 0, 0.74);
    height:50px;
    line-height: 50px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 1.5em;
    color: rgb(224, 224, 224);
    transition: 0.7s;
    outline: none;
}

.menu a:hover, .menu a.selected{
    color:rgb(209, 130, 66);
}

.cuerpo{
    padding: 5px;
    min-height: 600px;
    background: rgba(255, 255, 255, 0.938);
    width: 600px;
    margin: 17px auto;
}

.pError{
    color: rgb(172, 14, 14);
    font-size: 1em;
    line-height: 0;
    margin-top: 3px;
    margin-bottom: 30px;
    margin-left: 187px;
    text-align: left;
}

.pErrorTextarea{
    margin-left: 90px;
}

.contador{
    color: rgb(0, 0, 0);
    font-size: 1em;
    line-height: 0;
    margin-top: 1px;
    margin-right: 95px;
    margin-top: -35px;
    margin-bottom: 30px;
    text-align: right;
}

input, textarea, button{
    font-size: 1.1em;
    box-shadow: 0 0 4px 0px rgb(168, 168, 168);
    border: 1px solid rgb(173, 173, 173);
    padding: 5px 10px;
    color: rgb(73, 73, 73);
    background: rgba(255, 255, 255, 0.582);
    border-radius: 4px;
    outline: none;
}

.inputError{
    border: 1px solid rgb(153, 37, 37);
    box-shadow: 0 0 4px 0 rgb(153, 37, 37);
}

.inputValid{
    border: 1px solid rgb(105, 172, 114);
    box-shadow: 0 0 4px 0 rgb(105, 172, 114);
}

label{
    color: rgb(73, 73, 73);
    font-size: 1em;
    display: block;
    margin-left: 187px;
    margin-bottom: 0;
    width: 80px;
    text-align: left;
    line-height: 10px;
    margin-top: 20px;
}

label.labelMensaje{
    margin-left: 90px;
    margin-bottom: 8px;
}

textarea{
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    padding-bottom: 25px;
}

button{  
    background: rgba(219, 219, 219, 0.582);
    cursor: pointer;
}

button:hover{
    background: rgba(182, 182, 182, 0.582);
}

button:active{
    background: rgba(139, 139, 139, 0.582);
}