.header{
    margin: 0;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-color: aliceblue;
    background-size: cover;
    min-height: 800px;
    min-width: 600px;
    position: relative;
    padding-bottom: 25px;
}

.titulo{
    background: rgba(0, 0, 0, 0.4);
    height: 200px;
    line-height: 200px; 
    text-align: center;
    margin-top: 200px;
}

.titulo-leave-active, .titulo-enter-active{
    position: fixed;
    line-height: 0.46;
    width: 100%;
    transition: top 0.7s, opacity 1s;
}

.titulo-leave, .titulo-enter-to {
    opacity: 1;
    top: 50px;
}

.titulo-leave-to, .titulo-enter{
    opacity: 0;
    top: 100vh;
}

.header h1{
    color: rgba(248, 248, 248, 0.9);
    font-size: 7em;
}

.menu{
    background: rgba(0, 0, 0, 0.74);
    height:50px;
    line-height: 50px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 5px 5px;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 1.5em;
    color: rgb(224, 224, 224);
    transition: 0.7s;
    outline: none;
}

@media screen and (max-width: 600px) {
    .menu{
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    .menu a{
        font-size: 1.8em;
    }
}

.menu a:hover, .menu a.selected{
    color:rgb(209, 130, 66);
}

.cuerpo{
    min-height: 600px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.938);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.cuerpo-leave-active, .cuerpo-enter-active{
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    transition: left 0.7s, opacity 0.8s;
}

.cuerpo-leave, .cuerpo-enter-to{
    opacity: 1;
    left: calc(50vw - 300px);
}

.cuerpo-enter, .cuerpo-leave-to{
    opacity: 0;
    left: 100vw;
}

@media screen and (max-width: 600px) {
    .cuerpo{
        width: 100%
    }
    .cuerpo-leave, .cuerpo-enter-to{
        left: 0;
    }
}

.pError{
    color: rgb(172, 14, 14);
    font-size: 1em;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: left;
}

.pErrorTextarea{
    margin-left: 0;
    margin-bottom: 15px;
}

.contador{
    color: rgb(0, 0, 0);
    font-size: 1em;
    line-height: 0;
    text-align: right;
    right: 12px;
    margin-top: -20px;
    position: absolute;
    z-index: 1;
}

input, textarea, button{
    font-size: 1.2em;
    box-shadow: 0 0 4px 0px rgb(168, 168, 168);
    border: 1px solid rgb(173, 173, 173);
    padding: 5px 10px;
    color: rgb(73, 73, 73);
    background: rgba(255, 255, 255, 0.582);
    border-radius: 4px;
    width: 300px;
    outline: none;
}

.inputError{
    border: 1px solid rgb(153, 37, 37);
    box-shadow: 0 0 4px 0 rgb(153, 37, 37);
}

.inputValid{
    border: 1px solid rgb(105, 172, 114);
    box-shadow: 0 0 4px 0 rgb(105, 172, 114);
}

label{
    color: rgb(73, 73, 73);
    font-size: 1.2em;
    display: block;
    margin-left: 50px;
    margin-bottom: 4px;
    width: 80px;
    text-align: left;
    line-height: 1;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    input, textarea, button, label{
        font-size: 1.6em;
    }
    .pError{
        font-size: 1.3em;
    }
}

label.labelMensaje{
    margin-left: 0;
    margin-bottom: 8px;
}

textarea{
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: 500px;
    padding-bottom: 25px;
    position: relative;
    z-index: 100;
}

button{  
    background: rgba(219, 219, 219, 0.582);
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
}

button:hover{
    background: rgba(182, 182, 182, 0.582);
}

button:active{
    background: rgba(139, 139, 139, 0.582);
}

form{
    text-align: center;
    position: relative;
}
