html {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    background-color: #B7E886;
}

/* box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  } */

video, img, iframe {
    box-sizing: content-box;
    display: block;
    border: 3px solid rgb(88, 166, 255);
    margin: 0 auto;
}

video {
    margin: 10px auto 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    color: #00539F;
    text-shadow: 3px 3px 3px black;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    color: #00539F;
    text-shadow: 3px 3px 3px black;
}

caption {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    color: #00539F;
}

p, li, a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 920px;
    margin: 0 auto;
}

.principal {
    width: 880px;
    /* border-right: 20px solid rgb(180, 230, 219);
    border-left: 20px solid rgb(180, 230, 219); */
}

main {
    padding: 20px;
    margin: 5px auto;
    background-color: #00c3ff;
}

img {
    width: 600px;
    height: 315px;
    border: 3px solid rgb(88, 166, 255);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

tbody {
    font-size: 95%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}

header, footer {
    width: 920px;
    background-color: rgb(0, 255, 234);
    margin: 0 0 0 -20px;
    border-radius: 10px;
}

footer p {
    font-style: italic;
    text-align: center;
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
}

#copyright {
    position: relative;
    bottom: -2px;
    font-size: 130%;
}

.contenedor {
    display: flex;
}

.borde-left {
    margin: 142px 0 35px 0;
    width: 20px;
    background-image: linear-gradient(to left, #00c3ff, #B7E886);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.borde-rigth {
    margin: 142px 0 35px 0;
    width: 20px;
    background-image: linear-gradient(to right, #00c3ff, #B7E886);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.menu {
    width: 880px;
    height: 50px;
    background-color: rgb(3, 190, 190);
    margin: 5px 0 0 -20px;
    padding: 0 20px; 
    border-radius: 10px;
}

.menu a {
    display: inline-block;
    background-color: rgb(3, 190, 190);
    height: 40px;
    margin: 5px 10px;
    padding: 0 5px;
    text-decoration: none;
    color: rgb(227, 252, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.menu a:hover {
    background-color: rgb(36, 173, 173);
}

.menu .selected-menu{
    background-color: rgb(36, 173, 173);
    user-select: none;
}

pre, code {
 display: inline-block;
 background-color: rgb(219, 219, 219);
 padding: 5px;
 border-radius: 3px;
}


@media (max-width: 920px) {
    body, header, footer{
        width: 720px;
    }
    .principal {
        width: 680px;
    }
    .menu{
        width: 680px;
    }
}